body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.jpeg');
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.content {
    max-width: 1600px; /* Збільшено ширину панелі */
    height: 700px;
    padding: 20px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Напівпрозора біла панель */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333; /* Темно-сірий колір тексту */
    margin-bottom: 20px;
}

.face {
    display: flex;
}

.leftPanel {
    background-color: rgba(255, 255, 255, 0.9); /* Напівпрозора біла панель */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ffeb; /* Жовтий колір кнопок */
    color: #333; /* Темно-сірий колір тексту на кнопках */
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin: 5px;
}

.btn:hover {
    background-color: #0da195; /* Темніший жовтий відтінок при наведенні */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #00ffeb; /* Світло-жовтий колір для заголовків таблиці */
    color: #333; /* Темно-сірий колір тексту в заголовках таблиці */
}

.table td a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00ffeb; /* Зелений колір для кнопок у таблиці */
    color: #333; /* Білий колір тексту на кнопках у таблиці */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.table td a:hover {
    background-color: #0da195; /* Темніший зелений відтінок при наведенні на кнопки у таблиці */
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #333; /* Темно-сірий колір тексту на формі */
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button[type="submit"] {
    background-color: #00ffeb; /* Жовтий колір кнопки на формі */
    color: #333; /* Темно-сірий колір тексту на кнопці на формі */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #0da195; /* Темніший жовтий відтінок при наведенні на кнопку на формі */
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}